body { background-color: #d2c3b0; }

h1 {
    text-align: left;
    font-family: 'Georgia', sans-serif;
    font-size: 50px;
    color: #4b3832;
}

 h2 {
        font-size: 45px;
        font-weight: normal;
        font-family: 'Helvetica Neue', sans-serif;
        line-height: 0.6;
        text-align: left;
        margin: 20px 0;
        padding: 0%;
    }

    h3 {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        line-height: 1;
        text-align: left;
        margin: 10px 0;
        padding: 0%;
    }

figure {
    text-align: left;
    margin: 2px 0;
        padding: 0%;
}

img {
    height: 700px;
    width: auto;
    max-width: 400px;
    border-radius: 20px;
}